<div class="timeline">
  <div class="search-container">
      <input id="search-profile-input" type="text" name="search" placeholder="Search" autocomplete="off"/>
      <button id="search-profile-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <div id="result-container"></div>
  <template id="profile-template">
    <a class="profile-link" href="">
      <div class="profile">
        <div class="profile-pic">
          <img src="" alt="" referrerpolicy="no-referrer"/>
        </div>
        <div class="profile-info">
          <span class="profile-name"></span>
          <span class="profile-username"></span>
        </div>
        <button class="follow-btn">Follow</button>
      </div>
    </a>
  </template>
</div>
